<div {{bind-attr class=":action-sheet-backdrop isVisible:active"}} buttons="buttons">
  <div class="action-sheet-wrapper action-sheet-up">
    <div class="action-sheet">
      <div class="action-sheet-group">
        <button class="button" {{action 'goToImport'}}>Pflanzen importieren</button>
        <button class="button" {{action 'goToQuarters'}}>Quartiere</button>
      </div>
      <div class="action-sheet-group" ng-if="cancelText">
        <button class="button" {{action "hideSheet"}}>Zurück</button>
      </div>
    </div>
  </div>
</div>
