$mainColWidth: 550px;
$mainColHeight: 400px;
html, body {
  width: 100vw;
  height: 100vh;
  color: rgb(68, 68, 68);
}
.border-box {
  @include box-sizing(border-box);
}
* {
  @extend .border-box;
}

