.card, .grid {
  @include flexbox();
  // background: green;
  margin: 8px;
  padding: 7px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2px;
  background-color: #fff;
}

.cell {
  // background: red;
  padding: 8px 0px;

  @include flex(1);
}
.rows {
  @include flex-direction(column);
  padding: 0;
  .row {
    padding: 8px 16px 8px 16px;
    @include flexbox();
    // @include flex-wrap(wrap);
    &.slim {
      padding: 16px 16px 0 16px;
    }
  }
}

.row-top, .top {
  @include align-items(flex-start);
}
.row-bottom, .bottom {
  @include align-items(flex-end);
}
.row-center, .center {
  @include align-items(center);
}
.cell-top {
  @include align-self(flex-start);
}
.cell-bottom {
  @include align-self(flex-end);
}
.cell-center {
  @include align-self(center);
}


.grid-fit > .cell {
  @include flex(1);
}
.grid-full > .cell {
  @include flex(0 0 100%);
}
.grid-1of2 > .cell {
  @include flex(0 0 50%);
}
.grid-1of3 > .cell {
  @include flex(0 0 33.3333%);
}
.grid-1of4 > .cell {
  @include flex(0 0 25%);
}

@media (break-sm) {
  .small-grid-fit > .cell {
    @include flex(1);
  }
  .small-grid-full > .cell {
    @include flex(0 0 100%);
  }
  .small-grid-1of2 > .cell {
    @include flex(0 0 50%);
  }
  .small-grid-1of3 > .cell {
    @include flex(0 0 33.3333%);
  }
  .small-grid-1of4 > .cell {
    @include flex(0 0 25%);
  }
}

@media (--break-md) {
  .med-grid-fit > .cell {
    @include flex(1);
  }
  .med-grid-full > .cell {
    @include flex(0 0 100%);
  }
  .med-grid-1of2 > .cell {
    @include flex(0 0 50%);
  }
  .med-grid-1of3 > .cell {
    @include flex(0 0 33.3333%);
  }
  .med-grid-1of4 > .cell {
    @include flex(0 0 25%);
  }
}

@media (--break-lg) {
  .large-grid-fit > .cell {
    @include flex(1);
  }
  .large-grid-full > .cell {
    @include flex(0 0 100%);
  }
  .large-grid-1of2 > .cell {
    @include flex(0 0 50%);
  }
  .large-grid-1of3 > .cell {
    @include flex(0 0 33.3333%);
  }
  .large-grid-1of4 > .cell {
    @include flex(0 0 25%);
  }
}
