.main-content, body, .down-content {
  @include transform(translateZ(0));
  @include transition(all 0.3s ease);
}


.moosi {
  // background: green;
  position: absolute;
  height: 100vh;
  @include flexbox();
  @include flex-direction(column);
  margin: 0 auto;
  max-width: 1200px;
  width:100vw;
}
// .sidemenu {
//   @include flexbox();
//   @include flex-direction(column);
//   // background: blue;
//   width: 100vw;
//   order: 1;
//   z-index: 2;
// }

body {
  margin:0;
}
.header {
  @include flexbox();
  margin:0;
  height: 44px;
  background-color: rgb(138, 109, 233);
  border-width: 0px;
  border-bottom: 1px solid rgb(85, 43, 223);
  @include align-items(center);
  color:white;
  font-weight: normal;
  .title {
    text-align: center;
    @include flex(1);
    font-weight: normal;
    font-size: 16px;
  }
}

.plant-list {
    height:280px;
    position:relative;
    padding:0;

    .item {
      border: 1px solid rgb(221, 221, 221);
      display:block;
      padding:16px;
      text-decoration:none;
      border-left-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      &.active { background-color:#000; }
    }
}

.content {
  @include flex(1);
}
.footer {
  height: 50px;
}

.main-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 100%;
  background: blue;
  z-index: 3;
  &.in {
    left: 0px;
  }
}

.down-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100%;
  background: blue;
  z-index: 3;
  &.in {
    top: 0px;
  }
}

