.main-content, body, .down-content {
  @include transform(translateZ(0));
  @include transition(all 0.3s ease);
}

button, html, body {
   outline: 0;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}
* {
  @include border-box();
}
body,html{
  overflow:hidden
}
a {
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.moosi {
  // background: green;
  position: absolute;
  height: 100vh;
  @include flexbox();
  @include flex-direction(column);
  margin: 0 auto;
  max-width: 1200px;
  width:100vw;
}
.flexbox {
  @include flexbox();
}
.flex {
  @include flex(1);
}
// .sidemenu {
//   @include flexbox();
//   @include flex-direction(column);
//   // background: blue;
//   width: 100vw;
//   order: 1;
//   z-index: 2;
// }

body {
  margin:0;
}
.header {
  @include flexbox();
  margin:0;
  height: 44px;
  background-color: rgb(138, 109, 233);
  border-width: 0px;
  border-bottom: 1px solid rgb(85, 43, 223);
  @include align-items(center);
  color:white;
  font-weight: normal;
  .title {
    text-align: center;
    @include flex(1);
    font-weight: normal;
    font-size: 16px;
  }
  a {
    color: white;
    padding: 12px 20px;
    // background: blue;
    width: 100px;
    text-align:right;
    font-weight: 300;
    font-size: 13px;
    &.left {
      text-align: left;
    }
  }
}

.list {
    // height:280px;
    position:relative;
    padding:0;
    // background: green;

    .item {
      border: 1px solid rgb(221, 221, 221);
      // display:block;
      @include flexbox();
      padding:16px;
      text-decoration:none;
      border-left-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      &.active { background-color:#000; }
      &.rows {
        @include flex-direction(column);
        padding: 0;
        .row {
          padding: 16px 16px 16px 16px;
          @include flexbox();
          &.slim {
            padding: 16px 16px 0 16px;
          }
        }
      }
    }
    .divider {
      padding-top: 8px;
      padding-bottom: 8px;
      min-height: 30px;
      background-color: #f5f5f5;
      color: #222;
      font-weight: bold;
    }
}

.content {
  @include flex(1);
  -webkit-overflow:touch;
  overflow: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
}
.footer {
  height: 50px;
}

.main-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 100%;
  @include flexbox();
  @include flex-direction(column);

  background: white;
  z-index: 3;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  &.in {
    left: 0px;
  }
}

.down-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100%;
  background: white;
  z-index: 3;
  @include flexbox();
  @include flex-direction(column);

  &.in {
    top: 0px;
  }
}


.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: horizontal;
  -moz-flex-direction: horizontal;
  -ms-flex-direction: horizontal;
  flex-direction: horizontal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #444;
  // position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 49px;
  border-style: solid;
  border-width: 1px 0 0 0;
  background-size: 0;
  line-height: 49px;
}
.tab-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  overflow: hidden;
  max-width: 150px;
  height: 100%;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  opacity: 0.6;
  &.aktiv {
    opacity: 0.9
  }
}

.calm, a.calm {
  color: #43cee6;
}
.number {
  z-index: 1;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.active-order {
  background: rgba(255, 255, 102, 0.8) ;
}
