// could be usefull
//.hidden { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }
.fleft { float:left; }
.fright { float:right; }
.upper { text-transform:uppercase; }
.bold { font-weight:bold; }
.aleft { text-align:left; }
.aright { text-align:right; }
.acenter { text-align:center; }
.unselectable {
     -webkit-user-select:none;
        -moz-user-select:none;
         -ms-user-select:none;
             user-select:none;
}
.line { @include clearfix(); }

.padding {
  padding:20px 20px 0 20px ;
}
.padding-left {
  padding-left: 20px;
}
.padding-right {
  padding-right: 20px;
}
.middle {
  vertical-align: middle;
}
.badge {
  padding: 1px 4px;
  display:inline-block;
  border-radius: 3px;
  font-size: smaller;
  vertical-align:bottom;
  display: -webkit-inline-box;
  background-color: #43cee6;
  color: white !important;
}
.note {
  color: #a3a3a3;
}
.smaller {
  font-size: smaller;
}
// active states
.prime, .item:active   {
  background-color: rgba(255, 195, 143, 0.3);
}
.second {
  background-color: rgba(255, 195, 143, 0.1);
}
a.warn {
  color:red;
}
.visible {
  opacity: 0.9;
}
.black {
  color: black;
}
.col {
  text-align:right;
  width: 65px;
  &.thinner {
    width: 45px;
  }
  &.fatter {
    width: 95px;
  }
}
.peace {
  color: #8A6DE9;
}
.relax {
  color: #ffb41d;
}
.hide {
  display: none !important;
}
// input:focus, textarea:focus {
//   // outline:1px solid red;
// }
button, a {
  outline: 0;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}
.strikethrough {
  text-decoration: line-through;
}
