$z-index-action-sheet:            11 !default;
$positive:                        #4a87ee !default;
$assertive:                       #ef4e3a !default;
$base-color:                      #000 !default;


// Action Sheets
// -------------------------------

$sheet-bg-color:                  rgba(255, 255, 255, 0.6) !default;
$sheet-opacity:                   0.95 !default;

$sheet-border-radius:             3px 3px 3px 3px !default;
$sheet-border-radius-top:         3px 3px 0px 0px !default;
$sheet-border-radius-bottom:      0px 0px 3px 3px !default;
