{{#view 'upable' shouldShow=shouldShowCreate}}
  <div class='header'>
    <a class='left'></a>
    <h2 class='title'>eine neue Pflanze anlegen</h2>
    <a href='#' {{action 'back' target='view'}}>abbrechen</a>
  </div>
  <div class='content list'>
    {{partial 'plant/form'}}
  </div>
{{/view}}
