{{#view 'upable' shouldShow=shouldShowCreate}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>Neue Bestellung</h2>
    <a></a>
  </div>
  <div class='content list'>
    {{partial 'order/form'}}
  </div>
{{/view}}
