{{#view 'upable' shouldShow=shouldShowCreate}}
  <div class='header'>
    <a class='left' href='#' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{content.name}}</h2>
    <a></a>
  </div>
  <div class='content list'>
    {{partial 'plant/form'}}
  </div>
{{/view}}
