{{#view 'upable' shouldShow=shouldShowCreate}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>{{content.name}}</h2>
    <a></a>
  </div>
  <div class='content list'>
    {{partial 'plant/form'}}
  </div>
{{/view}}
