{{#view 'draggable' shouldShow=shouldShowCreate}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>{{content.name}}</h2>
    <a></a>
  </div>
  <div class='content list'>
    {{partial 'order/form'}}
    {{#if isNotDeletable}}
      <div class='padding attach'>
        <em class='smaller note'>alles zurücklegen</em>
      </div>
    {{/if}}
  </div>
{{/view}}
