{{#view 'upable'}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>Übersicht</h2>
    <a></a>
  </div>
  <div class='content list'>
    <div class="item">
      <span>Pflanzen</span>
      <span class='flex'></span>
      <span class='col number peace'>{{plantCount}}</span>
    </div>
    <div class="item">
      <span>Jungpflanzen</span>
      <span class='flex'></span>
      <span class='col number padding-left calm'>{{youngPlantCount}}</span>
    </div>
  </div>
{{/view}}
