{{#view 'upable'}}
  <div class='header'>
    {{partial 'shared/back-button'}}
    <h2 class='title'>Analytics</h2>
    <a></a>
  </div>
  <div class='content list'>
    <div class="padding">
      hier könnte ihr content stehen
    </div>
  </div>
{{/view}}
