<div class="moosi">
  <div class='header'>
    <a class='left'></a>
    <h1 class="title">Rechnungen</h1>
    {{#link-to 'orders.create'}}neu{{/link-to}}
  </div>

  <div class='content list'>
    {{#each order in arrangedContent}}
      <div class="item" {{action 'linkToOrder' order}}>
        <span>{{order.name}}</span>
        <span class='flex'></span>
        <span></span>
      </div>
    {{/each}}
  </div>

  {{view 'tabs'}}
</div>
{{outlet}}
