{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{name}}</h2>
  </div>
  <div>
  <div class='content list'>
    <div class="item">
      <span>Kunde</span>
      <span class='flex'></span>
      <span>{{customer}}</span>
    </div>

    <div class="item">
      <span>Adresse</span>
      <span class='flex'></span>
      <span>{{adressWithBreaks}}</span>
    </div>

    <div class="padding">
      <div class="divider">Waren</div>
    </div>

    {{#each position in positions itemController='position'}}
      <div class="item rows">
        <div class="row">
          <span></span>
          <span class='flex'></span>
          <span></span>
        </div>
      </div>
    {{/each}}
  </div>
{{/view}}

{{!outlet}}
