{{#view 'draggable'}}
  <div class='header'>
    <a class='left' {{action 'back' target='view'}}>back</a>
    <h2 class='title'>{{name}}</h2>
    <a></a>
  </div>
  <div>
  <div class='content list'>
    <div class="item">
      Preis {{preis}}
    </div>
  </div>
{{/view}}

{{!outlet}}
