<div class="main">
  <div class='header'>
    <h1 class="title">Pflanzen</h1>
  </div>

  <div class="plant-list">
    {{#each content}}
      <div class="item" {{action 'linkToPlant' this}}>{{name}}</div>
    {{/each}}
  </div>

  <div class='plant-detail'>
    {{outlet}}
  </div>
</div>
