<div class="moosi">
  <div class='sidemenu'>

    <div class='header'>
      <h1 class="title">Pflanzen</h1>
    </div>

    <div class='content plant-list'>
      {{#each content}}
        <item class="item" {{action 'linkToPlant' this}}>{{name}}</item>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
