<div class="footer tabs">
  <a href="#" {{action 'goToOrders'}} {{bind-attr class=view.orderTabStyle }}>Rechnungen</a>
  <a href="#" {{action 'goToPlants'}} {{bind-attr class=view.plantTabStyle }}>Pflanzen</a>
</div>
